<a href="https://colab.research.google.com/github/Rogerio-mack/work/blob/main/MackAnalytics_FormInputPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Forms e Criação de uma base de dados com Pandas

Para criação de um data-entry é fundamental fornecermos uma forma amigável para entrada de dados pelo usuário e criarmos uma base de dados com essas informações. Uma forma bastante simples de fazermos isso é empregarmos formulários e armazenarmos os dados em um arquivo `.csv`, `.xlsx` etc. Vamos começar pelo Pandas que é uma biblioteca para organização e manipulação de dados em tabelas.

# Criando uma Tabela do Zero

In [3]:
import pandas as pd

alunos = pd.DataFrame({'nome': ['Ana','Adriana','Daniel','Henrique'], 
                       'ano': [ 1978, 1984, 1996, 2004 ]})

alunos

       nome   ano
0       Ana  1978
1   Adriana  1984
2    Daniel  1996
3  Henrique  2004

# Gravando a Tabela Local

In [5]:
alunos.to_csv('alunos.csv',index=None)

alunos.to_excel('alunos.xlsx',index=None)

In [6]:
!ls

alunos.csv  alunos.xlsx  sample_data

# Fazendo Download dos Arquivos

In [7]:
from google.colab import files

files.download('alunos.csv')

files.download('alunos.xlsx')

# Fazendo Upload das Tabelas a partir de Arquivos locais

In [8]:
del alunos

In [9]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving alunos.csv to alunos (1).csv
Saving alunos.xlsx to alunos (1).xlsx
User uploaded file "alunos.csv" with length 57 bytes
User uploaded file "alunos.xlsx" with length 5020 bytes

# Lendo os Dados dos Arquivos

In [10]:
alunos_from_csv = pd.read_csv('/content/alunos (1).csv')
alunos_from_csv

       nome   ano
0       Ana  1978
1   Adriana  1984
2    Daniel  1996
3  Henrique  2004

In [11]:
alunos_from_excel = pd.read_excel('/content/alunos (1).xlsx')
alunos_from_excel

       nome   ano
0       Ana  1978
1   Adriana  1984
2    Daniel  1996
3  Henrique  2004

# Lendo uma Tabela a partir de uma URL

In [12]:
import pandas as pd

df = pd.read_csv('http://meusite.mackenzie.br/rogerio/data_load/tips.csv') 
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

# Gravando e Lendo no Google Drive

Se quiser empregar pastas compartilhadas com você, adicione no seu Drive antes.

In [13]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [14]:
alunos_from_csv.to_csv('/content/drive/MyDrive/alunos_no_drive.csv',index=None)

In [15]:
alunos_from_drive = pd.read_csv('/content/drive/MyDrive/alunos_no_drive.csv')
alunos_from_drive

       nome   ano
0       Ana  1978
1   Adriana  1984
2    Daniel  1996
3  Henrique  2004

# Forms para o input de dados

In [16]:
#@title Entre com o nome e ano de nascimento do Aluno:

nome = 'Debora' #@param {type:"string"}
ano = 1988 #@param {type:"number"}

In [17]:
alunos_from_drive = alunos_from_drive.append(pd.DataFrame({'nome': [nome], 'ano': [ano]}), ignore_index=True)
alunos_from_drive

       nome   ano
0       Ana  1978
1   Adriana  1984
2    Daniel  1996
3  Henrique  2004
4    Debora  1988

e salvando as informações atualizadas no Drive...

In [18]:
alunos_from_csv.to_csv('/content/drive/MyDrive/alunos_no_drive.csv',index=None)