<a href="https://colab.research.google.com/github/Rogerio-mack/work/blob/main/MackAnalytics_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Notas do nosso segundo encontro

Primeiros programas Python

In [1]:
print('Oi Pessoal!')

Oi Pessoal!

## Entrada de dados pelo terminal

In [2]:
nome = input('Entre com seu nome: ')
print(nome)

Entre com seu nome: Bianca
Bianca

In [3]:
type(nome)

str

In [4]:
idade = input('Entre com sua idade: ')
print(idade)
print( type(idade) )

Entre com sua idade: 18
18
<class 'str'>

In [6]:
idade = int( input('Entre com sua idade: ') )
print(idade)
print( type(idade) )

Entre com sua idade: 18
18
<class 'int'>

In [7]:
prox_niver = idade + 1
print(prox_niver)

19

# Variáveis em Python

In [8]:
var = 10           ; print(var); print(type(var))
var = 3.1416       ; print(var); print(type(var))
var = 'x'          ; print(var); print(type(var))
var = 'Hello'      ; print(var); print(type(var))

10
<class 'int'>
3.1416
<class 'float'>
x
<class 'str'>
Hello
<class 'str'>

## Numéricos

In [14]:
r = 2
pi = 3.1416

In [15]:
area = pi*r**2
area

12.5664

In [18]:
r**(1/2)

1.4142135623730951

## Strings

In [20]:
texto = 'To be or not to be'
print(texto) 
print(type(texto))

To be or not to be
<class 'str'>

In [21]:
print('012345678901234567890')
print(texto)

012345678901234567890
To be or not to be

In [22]:
texto[0:4]

'To b'

## Loops (Laços de Programa)

* Estrutura Sequencial

In [25]:
x = int( input('Entre com um valor: '))
x = x + 1
x = x + 1
x = x + 1
x = x + 1
x = x + 1
x = x + 1
x = x + 1
x = x + 1
x = x + 1
x = x + 1
print(x)

Entre com um valor: 10
20

* Loop com `for`

In [29]:
x = int( input('Entre com um valor: '))

for i in range(10):
  x = x + 1
  print(i)

print(x)

Entre com um valor: 10
0
1
2
3
4
5
6
7
8
9
20

### `range`

In [27]:
# range( inicio, fim, passos )
range(10)

range(0, 10)

### Identação

Erros comuns:

```
unexpected indent

unindent does not match any outer indentation level
```

In [42]:
x = int( input('Entre com um valor: '))

for i in range(10):
  x = x + 1
  print(i)

print(x)

Entre com um valor: 10
0
1
2
3
4
5
6
7
8
9
20

# If...

In [46]:
x = int( input('Entre com um valor maior ou igual a 10: '))

if x >= 10:
  
  for i in range(10):
    x = x + 1
    print(i)
  
  print(x)  

else:
  print('Número precisa ser maior ou igual a 10.')

Entre com um valor maior ou igual a 10: 10
0
1
2
3
4
5
6
7
8
9
20