<a href="https://colab.research.google.com/github/Rogerio-mack/work/blob/main/PF_TIC_2022S1_Glasses_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<head>
  <meta name="author" content="Rogério de Oliveira">
  <meta institution="author" content="Universidade Presbiteriana Mackenzie">
</head>

<img src="http://meusite.mackenzie.br/rogerio/mackenzie_logo/UPM.2_horizontal_vermelho.jpg" width=300, align="right">
<!-- <h1 align=left><font size = 6, style="color:rgb(200,0,0)"> optional title </font></h1> -->

# **PF TIC**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# Classificação de Tipos de Vidro 

Vidros de podem ser classificados 7 categorias conforme suas características químicas:

* Classe 1: janelas de construção (processadas com flutuação)
* Classe 2: janelas de construção (processadas sem flutuação)
* Classe 3: janelas do veículo (processadas com flutuação)
* Classe 4: janelas do veículo (processadas sem flutuação)
* Classe 5: recipientes
* Classe 6: talheres
* Classe 7: faróis

(*algumas classes podem não estar presentes no data-set*).

## Exercício

Aqui interessa podermos classificar os vidros para efeito de reciclagem em 3 categorias:

* **C = Vidros de Construção**
* **V = Vidros de Veículos**
* **O = Outros**

Explore e analise os dados e, em seguida, crie um modelo de *árvore de decisão* e um de *regressão logística* discutindo os seus resultados. Aplique aqui as boas práticas que achar necessário.

Lembre-se de:

1. Excluir dados inapropriados para o uso em modelos
2. Fazer hot-encode dos dados categóricos
3. Verificar a presença de valores ausentes (neste caso, se presentes, elimine os registros)
4. Normalizar os dados

In [22]:
df = pd.read_csv('https://github.com/Rogerio-mack/TIC_2022_1S/raw/main/glasses2.csv')
df.head()

,Id number,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type of glass
0,1,1.52101,13.64,D,1.10,71.78,0.06,8.75,0.0,0.0,1
1,2,1.51761,13.89,D,1.36,72.73,0.48,7.83,0.0,0.0,1
2,3,1.51618,13.53,C,1.54,72.99,0.39,7.78,0.0,0.0,1
3,4,1.51766,13.21,D,1.29,72.61,0.57,8.22,0.0,0.0,1
4,5,1.51742,13.27,D,1.24,73.08,0.55,8.07,0.0,0.0,1