<a href="https://colab.research.google.com/github/Rogerio-mack/work/blob/main/resumo_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Google Colab com R

# Exploração Inicial da Estrutura dos Dados

In [2]:
df = read.csv('http://meusite.mackenzie.br/rogerio/data_load/tips.csv')
head(df)

  total_bill tip  sex    smoker day time   size
1 16.99      1.01 Female No     Sun Dinner 2
2 10.34      1.66 Male   No     Sun Dinner 3
3 21.01      3.50 Male   No     Sun Dinner 3
4 23.68      3.31 Male   No     Sun Dinner 2
5 24.59      3.61 Female No     Sun Dinner 4
6 25.29      4.71 Male   No     Sun Dinner 4

In [3]:
nrow(df)

[1] 244

In [4]:
ncol(df)

[1] 7

In [5]:
names(df)

[1] "total_bill" "tip"        "sex"        "smoker"     "day"
[6] "time"       "size"

In [6]:
names(df)[2]

[1] "tip"

In [8]:
str(df)

'data.frame':	244 obs. of  7 variables:
 $ total_bill: num  17 10.3 21 23.7 24.6 ...
 $ tip       : num  1.01 1.66 3.5 3.31 3.61 4.71 2 3.12 1.96 3.23 ...
 $ sex       : chr  "Female" "Male" "Male" "Male" ...
 $ smoker    : chr  "No" "No" "No" "No" ...
 $ day       : chr  "Sun" "Sun" "Sun" "Sun" ...
 $ time      : chr  "Dinner" "Dinner" "Dinner" "Dinner" ...
 $ size      : int  2 3 3 2 4 4 2 4 2 2 ...

In [7]:
summary(df)

   total_bill         tip             sex               smoker
 Min.   : 3.07   Min.   : 1.000   Length:244         Length:244
 1st Qu.:13.35   1st Qu.: 2.000   Class :character   Class :character
 Median :17.80   Median : 2.900   Mode  :character   Mode  :character
 Mean   :19.79   Mean   : 2.998
 3rd Qu.:24.13   3rd Qu.: 3.562
 Max.   :50.81   Max.   :10.000
     day                time                size
 Length:244         Length:244         Min.   :1.00
 Class :character   Class :character   1st Qu.:2.00
 Mode  :character   Mode  :character   Median :2.00
                                       Mean   :2.57
                                       3rd Qu.:3.00
                                       Max.   :6.00

In [9]:
summary(iris)

  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.300   Min.   :2.000   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.600   1st Qu.:0.300
 Median :5.800   Median :3.000   Median :4.350   Median :1.300
 Mean   :5.843   Mean   :3.057   Mean   :3.758   Mean   :1.199
 3rd Qu.:6.400   3rd Qu.:3.300   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.900   Max.   :4.400   Max.   :6.900   Max.   :2.500
       Species
 setosa    :50
 versicolor:50
 virginica :50

In [10]:
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [17]:
my_mtcars = mtcars

my_mtcars[2,2] = NA 
my_mtcars[4,3] = NA

In [12]:
head(my_mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0  6  160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 NA  160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8  4  108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4  6   NA  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7  8  360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1  6  225  105 2.76 3.460 20.22 1  0  3    1

In [18]:
summary(my_mtcars)

      mpg             cyl             disp             hp
 Min.   :10.40   Min.   :4.000   Min.   : 71.1   Min.   : 52.0
 1st Qu.:15.43   1st Qu.:4.000   1st Qu.:120.7   1st Qu.: 96.5
 Median :19.20   Median :6.000   Median :167.6   Median :123.0
 Mean   :20.09   Mean   :6.194   Mean   :229.8   Mean   :146.7
 3rd Qu.:22.80   3rd Qu.:8.000   3rd Qu.:334.0   3rd Qu.:180.0
 Max.   :33.90   Max.   :8.000   Max.   :472.0   Max.   :335.0
                 NA's   :1       NA's   :1
      drat             wt             qsec             vs
 Min.   :2.760   Min.   :1.513   Min.   :14.50   Min.   :0.0000
 1st Qu.:3.080   1st Qu.:2.581   1st Qu.:16.89   1st Qu.:0.0000
 Median :3.695   Median :3.325   Median :17.71   Median :0.0000
 Mean   :3.597   Mean   :3.217   Mean   :17.85   Mean   :0.4375
 3rd Qu.:3.920   3rd Qu.:3.610   3rd Qu.:18.90   3rd Qu.:1.0000
 Max.   :4.930   Max.   :5.424   Max.   :22.90   Max.   :1.0000

       am              gear            carb
 Min.   :0.0000   Min.   :3.000   Min.   :1.000
 1st Qu.:0.0000   1st Qu.:3.000   1st Qu.:2.000
 Median :0.0000   Median :4.000   Median :2.000
 Mean   :0.4062   Mean   :3.688   Mean   :2.812
 3rd Qu.:1.0000   3rd Qu.:4.000   3rd Qu.:4.000
 Max.   :1.0000   Max.   :5.000   Max.   :8.000

In [15]:
my_mtcars = na.omit(my_mtcars)

In [16]:
head(my_mtcars)

                  mpg  cyl disp  hp  drat wt   qsec  vs am gear carb
Mazda RX4         21.0 6   160.0 110 3.90 2.62 16.46 0  1  4    4
Datsun 710        22.8 4   108.0  93 3.85 2.32 18.61 1  1  4    1
Hornet Sportabout 18.7 8   360.0 175 3.15 3.44 17.02 0  0  3    2
Valiant           18.1 6   225.0 105 2.76 3.46 20.22 1  0  3    1
Duster 360        14.3 8   360.0 245 3.21 3.57 15.84 0  0  3    4
Merc 240D         24.4 4   146.7  62 3.69 3.19 20.00 1  0  4    2

# Acessando um dataframe `built-in`

In [ ]:
head(iris)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [ ]:
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

# Acessando um dataframe externo

In [ ]:
df = read.csv('http://meusite.mackenzie.br/rogerio/data_load/tips.csv')
head(df)

  total_bill tip  sex    smoker day time   size
1 16.99      1.01 Female No     Sun Dinner 2
2 10.34      1.66 Male   No     Sun Dinner 3
3 21.01      3.50 Male   No     Sun Dinner 3
4 23.68      3.31 Male   No     Sun Dinner 2
5 24.59      3.61 Female No     Sun Dinner 4
6 25.29      4.71 Male   No     Sun Dinner 4

# Seleções de Dados no R

``` 

df [ <seleção de linhas> , <seleção de colunas> ]

```

## Selecionando uma única coluna

In [ ]:
mtcars$hp

 [1] 110 110  93 110 175 105 245  62  95 123 123 180 180 180 205 215 230  66  52
[20]  65  97 150 150 245 175  66  91 113 264 175 335 109

In [ ]:
mean(mtcars$hp)

[1] 146.6875

## Seleção de mais de uma coluna

In [ ]:
mtcars[ , c(1,2) ]

In [ ]:
mtcars[ , c('mpg', 'cyl')]

## Seleção de linhas

In [ ]:
mtcars[ 1:4 , ]

               mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4      21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710     22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive 21.4 6   258  110 3.08 3.215 19.44 1  0  3    1

In [ ]:
mtcars[ mtcars$cyl == 4  , ]

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Datsun 710     22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Merc 240D      24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230       22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Fiat 128       32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic    30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona  21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Fiat X1-9      27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2  26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa   30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Volvo 142E     21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

## Seleção de linhas e colunas

In [ ]:
mtcars[ mtcars$cyl == 4  , c('mpg') ]

 [1] 22.8 24.4 22.8 32.4 30.4 33.9 21.5 27.3 26.0 30.4 21.4

In [ ]:
mean( mtcars[ mtcars$cyl == 4  , c('mpg') ] )

[1] 26.66364